<template>
<div class="full_div">
    <div class="half_div">
        <form>
    <div class="form-control">
          <label class="labelcustom">Email:</label>
         <input type="email" required v-model="email" class="form-group">
    </div>
     <div class="form-control">
         <label class="labelcustom">First Name:</label>
         <input type="text" required v-model="first_name" class="form-group">
     </div>
      <div class="form-control">
           <label class="labelcustom">Last Name:</label>
          <input type="text" required v-model="last_name" class="form-group">
     </div>
      <div class="form-control">
          <label class="labelcustom">Password:</label>
          <input type="password" required v-model="password" class="form-group">
     </div>
      <div class="form-control">
        <label class="labelcustom">Repeat Password:</label>
        <input type="password" required v-model="confirm_password" class="form-group">
     </div>
     <div class="form-control">
             <label class="labelcustom">Role:</label>
    <select v-model="role" class="form-group">
        <option  v-for="single_role in roles_list"  name={{single_role}}>{{single_role}}</option>
    </select>
     </div>
     <div class="form-control">
           <label>Enter the skills </label>
          <input type="text" v-model="tempskill" @keypress="Addskill" class="form-group">
     </div>
     <div class="form-control">
              <label class="labelcustom">Select the Friends</label><br/>
     <span>
          <input type="checkbox" v-model="friends"  value="SYED">SYED
          <input type="checkbox" v-model="friends"  value="BILAL">BILAL
          <input type="checkbox" v-model="friends"  value="ALI">ALI
     </span>
     </div>
       <div class="form-control">
              <label>Selec the Hobbies </label> <br/>
     <span v-for="single_hobby in hobbies_list">
         <input type="checkbox" v-model="hobbies" :value="single_hobby">{{single_hobby}}
     </span>
     </div>
       <div class="form-control">
                <input type="checkbox" v-model="istrue" class="form-group-checkbox">Please Accept the terms and condition <br/>
     </div>
</form>
     </div>
    <div class="half_div">
        <h1> Form values </h1>
    <h3>Email: {{email}} </h3>
<h3>Password: {{password}}</h3>
<h3>Confirm Password: {{confirm_password}}</h3>
<h3>Last Name: {{last_name}}</h3>
<h3>First Name: {{first_name}}</h3>
<h3>Role: {{role}}</h3>
<h3>Terms and condition: {{istrue}}</h3>
<div class="full_div">
    <div class="half_div-2">
    <p>List of the Friends</p>
        <ol v-for="friend in friends" >
            <h3 > {{friend}}   <span :id="friend" @click="deletefriend(friend)">x</span></h3>
        </ol>
    </div>
    <div class="half_div-2">
            <p>List of the Hobbies</p>
        <ol v-for="hobby in hobbies" >
            <h3 > {{hobby}}   <span :id="hobby" @click="deletehobby(hobby)">x</span></h3>
        </ol>
    </div>
     <div class="half_div-2">
         <p>List of the skills</p>
        <ol v-for="skill in skills" >
            <h3 > {{skill}}   <span :id="skill" @click="deleteSkill(skill)">x</span></h3>
        </ol>
    </div>
</div>
    </div>
</div>




</template>

<script>


export default ({
    data() {
        return{
            friends: [],
            roles_list: ["Super Admin","PLush MAnager","Plush Enmpployee"],
            hobbies_list: ['Cricket','Coding','Reading'],
            email: '',
            password:'',
            confirm_password: '',
            last_name: '',
            first_name: '',
            role: 'Please select the option',
            istrue: false,
            hobbies: [],
            skills: [],
            tempskill: ''
        }
    },
    methods: {
        Addskill(e){
         if(e.key === ',' && this.tempskill)
         {
             if(!this.skills.includes(this.tempskill))
             {
                this.skills.push(this.tempskill)

             }
            this.tempskill = ''
         }
          
         
        },
        deleteSkill(skill)
        {
             this.skills = this.skills.filter( (single_skill) => { return single_skill != skill})
        },
        deletefriend(friend)
        {
            this.friends = this.friends.filter( (single_friend) => {return single_friend != friend})
        },
        deletehobby(hobby)
        {
            this.hobbies = this.hobbies.filter((single_hobby)=> { return single_hobby != hobby })
        }
    }
   
})
</script>

<style>
.half_div
{

    color: blanchedalmond;
    height:auto;
    width: 50%;
    padding: 10px;
}
.half_div-2
{
        overflow: hidden;
    overflow-y: auto;
    color: blanchedalmond;
    height: 200px;
    width: 50%;
    padding: 10px;
    background-color: black;
}

.full_div
{
    
    display: flex;
    background-color: black;
}
.form-group
{
    width: 30%;
    border-radius: 40px solid black;
    padding: 10px;
    margin-bottom: 5px;
}
.labelcustom
{
    font-weight: bold;
    
    width: 100%;
}
.form-control
{
 margin-bottom: 10px;
 padding: 10px;
 background-color: black;
}


</style>
